h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_1a0853c0 a { text-decoration: none; }
#menu_1a0853c0_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1a0853c0_hr { background-color: #646464; height: 1px; border: none; }
#menu_1a0853c0_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1a0853c0_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1a0853c0_entry:hover span { color:#FFFFFF !important; }
		.menu_1a0853c0_mainMenuEntry { text-align: center; }
		.menu_1a0853c0_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_1a0853c0_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_1a0853c0 .mobileEntry { display: none; } 
		#menu_1a0853c0 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_1a0853c0 .mobileEntry { display: block; } 
			#menu_1a0853c0 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_176cee4e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:201px; max-width:1024px; background-color:#FFFFFF; background-image: url(rc_images/skyscraper1_dark.jpg); background-position:top center; background-size:cover;  }
#container_176cee4e_padding { margin: 10px; display: block;  }
#menu_1a0853c0 { vertical-align: bottom; position:relative; display: inline-block; width:552px; height:34px; max-width:800px; text-align:left; background-color:#000000; background: linear-gradient(to bottom, #FFFFFF, #000000);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle2 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle3 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:136px; height:34px; left:110px;  }
.menustyle3 { position:absolute; width:100px; height:34px; left:246px;  }
.menustyle4 { position:absolute; width:100px; height:34px; left:346px;  }
.menustyle5 { position:absolute; width:100px; height:34px; left:446px;  }
.textstyle4 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
#heading_6250e520 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
.textstyle6 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; line-height: 1.5;  }
.textstyle7 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
.textstyle8 { text-align:left; }
#img_45f2acfc { position:absolute; left:2%; top:6%; width:14%; background:none; height:auto;  }
#container_7264e42c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background-color:#2C2825;  }
#container_7264e42c_padding { margin: 10px; display: block;  }
#container_2f29a87b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background-color:#CECECE;  }
#container_2f29a87b_padding { margin: 10px; display: block;  }
.textstyle9 { text-align:justify; }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle12 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
.textstyle14 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; line-height: 1.5;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_5ce9cf84 { vertical-align: bottom; position:relative; display: inline-block; width:96%; background:none; height:auto;  }
.textstyle16 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; line-height: 1.5;  }
@media only screen and (max-width: 450px)
{
		#menu_1a0853c0 { width:100px;  }
}
